<!-- Navbar -->
<nav class="navbar">
  <div class="logo"><span>H</span>elp<span>c</span>hef</div>
  <div class="nav-list">
    <a routerLink="" class="nav-link"> Strona główna</a>
    <a routerLink="/account" class="nav-link"> Konto</a>
    <a routerLink="/add-recipe" class="nav-link"> Przepisy</a>
    <a routerLink="/login" class="nav-link"> Zaloguj się</a>
  </div>
</nav>
<!-- The End of Navbar -->

<!-- Menu -->
<div class="menu">
  <div class="line line-1"></div>
  <div class="line line-2"></div>
  <div class="line line-3"></div>
</div>
<!-- The End of Menu -->
<div class="menuSpace"></div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <th>Nazwa przepisu</th>
          <th>Ocena</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor = "let recipe of recipes">
            <td>{{recipe.recipeName}}</td>
            <td>{{recipe.rate}}</td>
            <td><button (click) = "recipeDetails(recipe.recipeId)"> Szczegóły </button></td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>
</div>
