<!-- Navbar -->
<nav class="navbar">
  <div class="logo"><span>H</span>elp<span>c</span>hef</div>
  <div class="nav-list">
    <a routerLink="/main" class="nav-link"> Strona główna</a>
    <a routerLink="/account" class="nav-link"> Konto</a>
    <a routerLink="/add-recipe" class="nav-link"> Przepisy</a>
    <a routerLink="/login" class="nav-link"> Zaloguj się</a>
  </div>
</nav>
<!-- The End of Navbar -->

<!-- Menu -->
<div class="menu">
  <div class="line line-1"></div>
  <div class="line line-2"></div>
  <div class="line line-3"></div>
</div>
<!-- The End of Menu -->
<!-- Login -->
<div class="login-page">
  <div class="login-page-info">
    <form class="login-page-form">
      <input type="text" class="form-login-input" placeholder="Email lub numer telefonu">
      <input type="password" class="form-login-input">
      <input type="button" class="form-login-btn" value="Zaloguj się">
      <a href="#" class="form-login-link"> Nie możesz się zalogować?</a> <span>lub</span>
      <input type="button" class="form-signup-btn" value="Stwórz konto">

    </form>
  </div>
</div>
<!-- The End of Login-->