<section class="colored-section" id="title">
  <div class="container">
    <!-- The First Section -->
    <section class="section-one">
      <!-- Navbar -->
      <nav class="navbar">
        <div class="logo"><span>H</span>elp<span>c</span>hef</div>
        <div class="nav-list">
          <a routerLink="/main" class="nav-link"> Strona główna</a>
          <a routerLink="/account" class="nav-link"> Konto</a>
          <a routerLink="/add-recipe" class="nav-link"> Przepisy</a>
          <a routerLink="/login" class="nav-link"> Zaloguj się</a>
        </div>
      </nav>
      <!-- The End of Navbar -->

      <!-- Menu -->
      <div class="menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
      <!-- The End of Menu -->

      <img
        class="front-image"
        src="assets/images/vector-cooking-set.png"
        alt="Picture ofa cooking set"
      />
      <div class="front">
        <h1 class="front-heading">
          <span class="heading-one">Breakfast</span>
          <span class="heading-two">Soups</span>
          <span class="heading-three">Appetizers</span>
          <span class="heading-four">Desserts</span>
          <span class="heading-five">Dinner</span>
        </h1>
        <p class="front-paragraph">“You are what you eat.”</p>
        <a routerLink="/sign-up"><button class="front-btn">Sign up</button></a>
      </div>
    </section>

    <!-- The End of the First Section -->
  </div>
</section>
