/* Basic Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    cursive;
}
html {
  font-size: 62.5%;
}
/* The End of Basic Styles */

/* The First Section */
.section-one {
  width: 100%;
  height: 100vh;
  background-color: 393e46;
  background-size: cover;
  position: relative;
}

.front {
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
/* The End of the First Section */
