<!-- Navbar -->
<nav class="navbar">
    <div class="logo"><span>H</span>elp<span>c</span>hef</div>
    <div class="nav-list">
      <a routerLink="" class="nav-link"> Strona główna</a>
      <a routerLink="/account" class="nav-link"> Konto</a>
      <a routerLink="/add-recipe" class="nav-link"> Przepisy</a>
      <a routerLink="/login" class="nav-link"> Zaloguj się</a>
    </div>
  </nav>
  <!-- The End of Navbar -->
  
  <!-- Menu -->
  <div class="menu">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>
  <!-- The End of Menu -->
  <div class="menuSpace"></div>
<div class="container">
  <div class="card">
    <div class="card-body">
        <h1>Szczegóły przepisu: {{recipeById.recipeName}} (Ocena: {{recipeById.rate}}/5)</h1>
            <table class="table table-striped">
                <thead>
                    <th>Składniki</th>
                    <th>Ilość</th>
                    <th>Jednostka</th>
                </thead>
                <tbody>
                <tr *ngFor = "let ingredient of recipeById.ingredients">
                    <td>{{ingredient.ingredientName}}</td>
                    <td>{{ingredient.amount}}</td>
                    <td>{{ingredient.unit}}</td>
                </tr>
                </tbody>
            </table>
        <h1>Opis</h1>
        <p>{{recipeById.description}}</p>
        <h1>Komentarze</h1>
        <table class="table table-striped">
            <thead>
                <th>Nick</th>
                <th>Komentarz</th>
                <th>Data</th>
            </thead>
            <tbody>
            <tr>
                <td>{{recipeById.comment.nick.nick}}</td>
                <td>{{recipeById.comment.content}}</td>
                <td>{{recipeById.comment.commentDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
